$font-family: 'Roboto', sans-serif;
$font-family_title: 'Shrikhand';
$background_li: #f6f6f6;
$buton_heart_gradient2: #9356DC;
$button_heart_gradient: #FF79DA;
$background_new: #99E2D0;
$position_button_bacground_footer: #353535;
$footer_txt: white;

* {
	font-family: $font-family;
}

body {
	background-color: $background_li;
	margin: 0px;
}

.main-container {
	width: 100%;
	box-sizing: border-box;
}

.img {
	padding-top: 220px;
	background-image: url(Images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
	background-size: 100% 500px;
	background-position: center -150px;
}

.imgtwo {
	background-image: url(Images/stil-u2Lp8tXIcjw-unsplash.jpg);
	padding-top: 220px;
	background-size: 100% 500px;
	background-position: center -150px;
}

.imgthree {
	background-image: url(Images/stil-u2Lp8tXIcjw-unsplash.jpg);
	padding-top: 220px;
	background-size: 100% 500px;
	background-position: center -150px;
}

.imgfour {
	background-image: url(Images/stil-u2Lp8tXIcjw-unsplash.jpg);
	padding-top: 220px;
	background-size: 100% 500px;
	background-position: center -150px;
}

header {
	background-color: white;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 15px;
}

nav {
	.fa-solid {
		font-size: larger;
		color: $position_button_bacground_footer;
	}
}

header {
	img {
		display: block;
		margin: auto;
	}
}

.card-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	background-color: #f6f6f6;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.card-title {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 10px;

	h2 {
		font-family: "Shrikhand";
	}
}

.heart {
	.fa-solid {
		position: absolute;
		font-size: 22px;
		background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s;
	}

	input {
		display: none;

		&:checked {
			+ {
				.fa-solid {
					opacity: 1;
				}
			}
		}
	}
}

.fa-regular {
	font-size: 22px;
	color: #353535;
}


h3 {
	font-weight: 300;
	font-size: 16px;

	&::after {
		content: "";
		display: block;
		width: 40px;
		padding-top: 3px;
		border-bottom: 3px solid $background_new;
	}
}

.card-txt {
	width: 90%;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.choice {
	display: flex;

	input[value="select"] {
		display: block;
		opacity: 0;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;

		&:checked {
			+ {
				.fa-circle-check {
					display: block;
				}
			}
		}
	}
}

.fa-circle-check {
	display: none;
	padding: 15px;
	background-color: #99e2d0;
	font-size: 40px;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.card-txtone {
	transform: translateY(9999px);
	animation: apparition 1s 1s forwards;
}

.card-txttwo {
	transform: translateY(9999px);
	animation: apparition 1s 2s forwards;
}

.card-txtthree {
	transform: translateY(9999px);
	animation: apparition 1s 3s forwards;
}

@keyframes apparition {
	from {
		transform: translateY(9999px);
	}

	to {
		transform: translateY(0px);
	}
}

.text {
	display: flex;
	flex-direction: column;
	padding: 15px;
	justify-content: space-around;
}

.card-txt p {
	margin: 0px;
}

.pone {
	font-size: 18px;
}

.card-price {
	display: flex;
	justify-content: space-between;
}

.ptwo {
	font-size: 15px;
	font-weight: 300;
}

.price {
	font-size: 15px;
	font-weight: 700;
	color: $position_button_bacground_footer;
}

.button {
	display: flex;
}

button {
	margin: 40px auto;
	width: 218px;
	height: 50px;
	border: none;
	border-radius: 25px;
	background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	color: white;
	font-size: 16px;

	&:hover {
		background: linear-gradient(175deg, #ff79d9e3 0%, #9256dce5 100%);
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
	}
}

footer {
	background-color: $position_button_bacground_footer;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;

	h2 {
		width: 90%;
		font-family: $font-family_title;
		color: $footer_txt;
	}

	ul {
		width: 90%;
		list-style: none;
		padding-left: 0px;
		color: $footer_txt;
	}

	.fa-solid {
		color: $footer_txt;
	}

	li {
		padding-bottom: 5px;

		a {
			text-decoration: none;
			color: $footer_txt
		}
	}
}

.fa-utensils {
	padding-right: 12px;
}

.fa-handshake-angle {
	padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	body {
		background-color: white;
	}

	.img {
		padding-top: 320px;
		background-repeat: no-repeat;
	}

	.imgtwo {
		padding-top: 320px;
		background-repeat: no-repeat;
	}

	.imgthree {
		padding-top: 320px;
		background-repeat: no-repeat;
	}

	.imgfour {
		padding-top: 320px;
		background-repeat: no-repeat;
	}

	.card-content {
		margin: 0px 100px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.card-title {
		justify-content: center;
		gap: 30px;
	}

	h3 {
		width: 75%;
	}

	.card-txt {
		width: 75%;
	}

	footer {
		flex-direction: row-reverse;
		justify-content: center;
		flex-wrap: nowrap;
		gap: 50px;
		padding-bottom: 15px;
		padding-top: 35px;

		ul {
			display: flex;
			flex-direction: row;
			margin-bottom: 0px;
			gap: 10px;
			width: 550px;
		}

		li {
			padding: 0px 20px;
			text-align: right;
		}

		h2 {
			margin-bottom: 0px;
			width: auto;
		}
	}
}

@media (min-width: 1024px) {
	body {
		background-color: #f6f6f6;
		display: flex;
		justify-content: center;
	}

	.main-container {
		max-width: 1440px;
		background-color: white;
	}

	.img {
		padding-top: 420px;
		background-repeat: no-repeat;
		background-size: 100% 460px;
		background-position: center 0px;
	}

	.imgtwo {
		padding-top: 420px;
		background-repeat: no-repeat;
		background-size: 100% 460px;
		background-position: center 0px;
	}

	.imgthree {
		padding-top: 420px;
		background-repeat: no-repeat;
		background-size: 100% 460px;
		background-position: center 0px;
	}

	.imgfour {
		padding-top: 420px;
		background-repeat: no-repeat;
		background-size: 100% 460px;
		background-position: center 0px;
	}

	.card {
		margin: 0px 200px;
	}

	.card-content {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px 200px;
	}

	.card-title {
		justify-content: center;
		gap: 30px;
	}

	h3 {
		width: 75%;
	}

	.card-txt {
		width: 75%;
	}

	.button {
		width: 75%;
	}

	footer {
		flex-direction: row-reverse;
		align-content: flex-end;
		align-items: flex-end;
		flex-wrap: nowrap;
		gap: 20px;
		padding: 30px 25px;

		ul {
			display: flex;
			flex-direction: row;
			margin-bottom: 0px;
			gap: 10px;
			width: auto;
		}

		h2 {
			margin-bottom: 0px;
			width: auto;
		}
	}
}