$font-family: 'Roboto', sans-serif;
$font-family_title: 'Shrikhand';
$background_li: #f6f6f6;
$buton_heart_gradient2: #9356DC;
$button_heart_gradient: #FF79DA;
$background_new: #99E2D0;
$text_new: #008766;
$position_button_bacground_footer: #353535;
$background_position: #EAEAEA;
$grey_icons: #7E7E7E;
$store_icon: #9356DC;
$footer_txt: white;

@mixin card-img-p {
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: end;
	height: 187.5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	p {
		margin-right: 10px;
		border: 1px solid;
		height: min-content;
		background-color: $background_new;
		color: $text_new;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
		border-radius: 2px;
		padding: 6px 9px;
	}
}

@mixin card-img {
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: end;
	height: 187.5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

* {
	font-family: $font-family;
}

body {
	background-color: $background_li;
	display: flex;
	justify-content: center;
	margin: 0px;
	animation: scroll 2.5s;
}

@keyframes scroll {

	0%,
	100% {
		overflow: hidden;
	}

}

.loader {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #f6f6f6;
	z-index: -1;
	opacity: 0;
	animation: loader 2.5s;
}

.anim-loader {
	margin: 50% auto;
	width: 200px;
	height: 200px;
	border: 20px solid #9356dc;
	border-bottom: 40px ridge;
	border-bottom-color: #99e2d0;
	border-radius: 50%;
	animation: rotation 0.6s linear 3;
}

@keyframes loader {

	0%,
	100% {
		z-index: 1;
		opacity: 1;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.main-container {
	width: 100%;
	box-sizing: border-box;
}

header {
	.logo {
		width: 100%;
		background-color: white;
		display: flex;
		justify-content: center;
		padding: 13px 0px;
		box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
		margin-bottom: 2px;
	}

	p {
		margin: 0px;
		padding: 17px 0px;
		text-align: center;
		background-color: $background_position;
		color: $position_button_bacground_footer;
	}
}

.fa-location-dot {
	padding-right: 17px;
}

.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;

	h2 {
		width: 80%;
		text-align: center;
		margin-bottom: 10px;
	}

	p {
		width: 90%;
		text-align: center;
		margin-top: 0px;
		color: $position_button_bacground_footer;
		font-weight: 300;
	}

	button {
		width: 60%;
		height: 50px;
		border: none;
		border-radius: 25px;
		background: linear-gradient(175deg, $button_heart_gradient 0%, $buton_heart_gradient2 100%);
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		transition: opacity 400ms, box-shadow 400ms;
	}

	a {
		text-decoration: none;
		color: white;
		font-size: 16px;
	}
}

button {
	&:hover {
		opacity: 0.8;
		box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
	}
}

.fonctionnement {
	display: flex;
	background-color: white;
	flex-direction: column;
	align-content: space-around;
	flex-wrap: wrap;
	padding: 50px 20px 50px 0px;

	li {
		width: 80%;
		border-radius: 20px;
		background: $background_li;
		box-shadow: 0px 4px 15px;
		margin-bottom: 25px;
		padding: 25px 20px;
	}

	i {
		padding-right: 20px;
	}

	h2 {
		width: 90%;
		padding-left: 15px;
	}
}

ol {
	width: 90%;
	padding-left: 30px;
	list-style: none;
}

.fa-solid {
	color: $grey_icons;
}

.fa-store {
	color: $store_icon;
}

li {
	span {
		position: relative;
		right: 35px;
		background-color: #9356dc;
		border-radius: 24px;
		text-align: center;
		color: white;
		padding: 5px 10px;
	}
}

.restaurants {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	flex-wrap: wrap;
	padding: 50px 0px;

	h2 {
		width: 90%;
	}
}

.restaurants-cards {
	width: 90%;
}

.card {
	height: 250px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
	margin-bottom: 20px;

	a {
		color: black;
		text-decoration: none;
	}
}

.img {
	background-image: url(Images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
	@include card-img-p;
}

.imgtwo {
	background-image: url(Images/stil-u2Lp8tXIcjw-unsplash.jpg);
	@include card-img-p;
}

.imgthree {
	background-image: url(Images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
	@include card-img;
}

.imgfour {
	background-image: url(Images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
	@include card-img;
}

.content {
	display: flex;
}

.txt {
	width: 80%;

	h3 {
		font-size: 18px;
		margin: 5px;
		max-height: 35px;
	}

	p {
		font-weight: 300;
		margin: 5px;
	}
}

.heart {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;

	.fa-solid {
		position: absolute;
		font-size: 22px;
		background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s;
	}

	input {
		display: none;

		&:checked {
			+ {
				.fa-solid {
					opacity: 1;
				}
			}
		}
	}
}

.fa-regular {
	font-size: 22px;
	color: #353535;
}

footer {
	background-color: $position_button_bacground_footer;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	flex-wrap: wrap;

	h2 {
		font-family: $font-family_title;
		color: $footer_txt;
		width: 90%;
	}

	ul {
		list-style: none;
		padding-left: 0px;
		color: $footer_txt;
		width: 90%;
	}

	.fa-solid {
		color: $footer_txt;
	}

	li {
		padding-bottom: 5px;

		a {
			text-decoration: none;
			color: $footer_txt
		}
	}
}

.fa-utensils {
	padding-right: 12px;
}

.fa-handshake-angle {
	padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.anim-loader {
		width: 300px;
		height: 300px;
		margin: 30% auto;
	}

	.button {
		h2 {
			width: 100%;
			font-size: 40px;
			margin-bottom: 30px;
		}

		p {
			width: 100%;
			margin-bottom: 30px;
		}

		button {
			width: 218px;
		}
	}

	ol {
		padding: 0px;
		display: flex;
		flex-direction: column;
		list-style: none;
		gap: 25px;
	}

	.fonctionnement {
		padding: 50px 0px;

		h2 {
			text-align: center;
		}

		li {
			width: 480px;
			padding: 25px 40px;
		}
	}

	.restaurants h2 {
		text-align: center;
	}

	.restaurants-cards {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 50px;
	}

	.card {
		width: 490px;
		margin-bottom: 0px;
	}

	.img {
		background-size: 600px;
		background-position-y: -150px;
		background-position-x: -50px;
	}

	.imgtwo {
		background-size: 550px;
		background-position-y: -300px;
		background-position-x: -50px;
	}

	.imgthree {
		background-size: 550px;
		background-position-y: -150px;
	}

	.imgfour {
		background-size: 550px;
		background-position-y: -150px;
	}

	footer {
		display: flex;
		justify-content: center;
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		gap: 50px;
		padding-bottom: 15px;
		padding-top: 35px;

		h2 {
			margin-bottom: 0px;
			width: initial;
		}

		ul {
			display: flex;
			flex-direction: row;
			margin-bottom: 0px;
			gap: 10px;
			width: 550px;
		}

		li {
			padding: 0px 20px;
			text-align: right;
		}
	}

}

@media (min-width: 1024px) {
	.anim-loader {
		width: 300px;
		height: 300px;
		margin: 20% auto;
	}

	.button {
		h2 {
			width: 100%;
			font-size: 40px;
			margin-bottom: 30px;
		}

		p {
			width: 100%;
			margin-bottom: 30px;
		}

		button {
			width: 218px;
		}
	}

	.fonctionnement {
		padding: 50px 0px 50px 0px;

		h2 {
			width: 80%;
			padding-left: 0px;
		}

		li {
			width: 100%;
		}
	}

	ol {
		padding: 0px;
		display: flex;
		flex-direction: row;
		list-style: none;
		gap: 25px;
	}

	.restaurants h2 {
		width: 80%;
	}

	.restaurants-cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 50px 10%;
		width: 80%;
		justify-content: flex-start;
	}

	.card {
		width: 45%;
		padding-bottom: 15px;
	}

	.img {
		background-size: 120% 400px;
		background-position: center;
	}

	.imgtwo {
		background-size: 120% 400px;
		background-position: center -130px;
	}

	.imgthree {
		background-size: 120% 400px;
		background-position: center -160px;
	}

	.imgfour {
		background-size: 120% 300px;
		background-position: center -100px;
	}

	.content {
		padding: 10px;
	}

	footer {
		display: flex;
		flex-direction: row-reverse;
		align-content: flex-end;
		align-items: flex-end;
		flex-wrap: nowrap;
		gap: 20px;
		padding: 30px 25px;

		h2 {
			margin-bottom: 0px;
			width: auto;
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		margin-bottom: 0px;
		gap: 10px;
		width: auto;
	}
}