$font-family: 'Roboto', sans-serif;
$font-family_title: 'Shrikhand';
$background_li: #f6f6f6;
$gradient2: #9356DC;
$gradient: #FF79DA;
$select_border: #99E2D0;
$nav_heart_footer-background: #353535;
$background_txt: white;

@keyframes apparition {
	from {
		transform: translateY(9999px);
	}

	to {
		transform: translateY(0px);
	}
}

* {
	font-family: $font-family;
}

body {
	background-color: $background_li;
	margin: 0px;
}

.main-container {
	width: 100%;
	box-sizing: border-box;
}

main {
	padding-top: 220px;
}

.img {
	height: 320px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-image: url(Images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.imgtwo {
	background-image: url(Images/stil-u2Lp8tXIcjw-unsplash.jpg);
	height: 320px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	background-size: cover;
	background-position: center;
}

.imgthree {
	background-image: url(Images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
	height: 320px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	background-size: cover;
	background-position: center;
}

.imgfour {
	background-image: url(Images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
	height: 320px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	background-size: cover;
	background-position: center;
}

header {
	background-color: $background_txt;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 15px;

	img {
		display: block;
		margin: auto;
	}
}

nav {
	.fa-solid {
		font-size: larger;
		color: $nav_heart_footer-background;
	}
}

.card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	background-color: $background_li;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.card-title {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px;

	h2 {
		font-family: $font-family_title;
		font-size: 28px;
	}
}

.heart {
	.fa-solid {
		position: absolute;
		font-size: 22px;
		background: linear-gradient(175deg, $gradient 0%, $gradient2 100%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.fa-regular {
		font-size: 22px;
		color: $nav_heart_footer-background;
	}

	input {
		display: none;

		&:checked+.fa-solid {
			opacity: 1;
		}
	}
}

.card-content {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	flex-wrap: wrap;
	gap: 12px;

	h3 {
		font-weight: 300;
		font-size: 16px;
		margin-top: 28px;
		margin-bottom: 0px;

		&::after {
			content: "";
			display: block;
			width: 40px;
			padding-top: 3px;
			border-bottom: 3px solid $select_border;
		}
	}

	.card-txt {
		&::after {
			content: "\f058";
			font-family: fontAwesome;
			font-size: 20px;
			color: $background_txt;
			position: absolute;
			right: 0;
			top: 0;
			height: inherit;
			width: 60px;
			margin-right: -60px;
			line-height: 70px;
			text-align: center;
			border-radius: 0 15px 15px 0;
			background-color: $select_border;
			transition: margin-right 0.3s cubic-bezier(.33, -0.03, 1, .35);
		}
	}
}

.card-txt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 90%;
	height: 70px;
	padding: 0 15px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	background-color: $background_txt;
}

input[type=checkbox] {
	display: none;

	&:checked+.card-txt {
		&::after {
			margin-right: 0px;
		}

		.pone {
			padding-right: 60px;
		}

		.price {
			padding-right: 60px;
		}
	}
}

.card-txtone {
	transform: translateY(9999px);
	animation: apparition 0.7s 0.7s cubic-bezier(0, 1.11, 1, 1) forwards;
}

.card-txttwo {
	transform: translateY(9999px);
	animation: apparition 0.7s 1.4s cubic-bezier(0, 1.11, 1, 1) forwards;
}

.card-txtthree {
	transform: translateY(9999px);
	animation: apparition 0.7s 2.1s cubic-bezier(0, 1.11, 1, 1) forwards;
}

.pone {
	font-size: 18px;
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 12px;
	transition: all 0.5s cubic-bezier(.27, .13, .5, 1);
}

.description {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13.5px;
}

.ptwo {
	font-size: 15px;
	font-weight: 300;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.price {
	font-size: 15px;
	font-weight: 700;
	padding-left: 15px;
	transition: all 0.5s cubic-bezier(.27, .13, .5, 1);
}

.button {
	display: flex;
}

button {
	margin: 40px auto;
	width: 218px;
	height: 50px;
	border: none;
	border-radius: 25px;
	background: linear-gradient(175deg, $gradient 0%, $gradient2 100%);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	color: $background_txt;
	font-size: 16px;
	cursor: pointer;
	transition: opacity 400ms, box-shadow 400ms;

	&:hover {
		opacity: 0.8;
		box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
	}
}

footer {
	background-color: $nav_heart_footer-background;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;

	h2 {
		width: 90%;
		font-family: $font-family_title;
		color: $background_txt;
	}

	ul {
		width: 90%;
		list-style: none;
		padding-left: 0px;
		color: $background_txt;
	}

	.fa-solid {
		color: $background_txt;
	}

	li {
		padding-bottom: 5px;

		a {
			text-decoration: none;
			color: $background_txt;
		}
	}
}

.fa-utensils {
	padding-right: 12px;
}

.fa-handshake-angle {
	padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	body {
		background-color: $background_txt;
	}

	main {
		padding-top: 320px;
	}

	.img {
		height: 420px;
	}

	.imgtwo {
		height: 420px;
	}

	.imgthree {
		height: 420px;
	}

	.imgfour {
		height: 420px;
	}

	.card {
		margin: 0px 100px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.card-title {
		justify-content: center;
		gap: 30px;
	}

	.card-content {
		align-content: center;

		h3 {
			width: 75%;
		}
	}

	.card-txt {
		width: 75%;
	}

	footer {
		flex-direction: row-reverse;
		justify-content: center;
		flex-wrap: nowrap;
		gap: 50px;
		padding-bottom: 15px;
		padding-top: 35px;

		ul {
			display: flex;
			flex-direction: row;
			margin-bottom: 0px;
			gap: 10px;
			width: 550px;
		}

		li {
			padding: 0px 20px;
			text-align: right;
		}

		h2 {
			margin-bottom: 0px;
			width: auto;
		}
	}
}

@media (min-width: 1024px) {
	body {
		background-color: $background_txt;
		display: flex;
		justify-content: center;
	}

	main {
		padding-top: 420px;
	}

	.img {
		height: 520px;
	}

	.imgtwo {
		height: 520px;
	}

	.imgthree {
		height: 520px;
	}

	.imgfour {
		height: 520px;
	}

	.card {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px 200px;
	}

	.card-title {
		justify-content: center;
		gap: 30px;
	}

	.card-content {
		align-content: center;

		h3 {
			width: 75%;
		}
	}

	.card-txt {
		width: 75%;
	}

	footer {
		flex-direction: row-reverse;
		align-content: flex-end;
		align-items: flex-end;
		flex-wrap: nowrap;
		gap: 20px;
		padding: 30px 25px;

		ul {
			display: flex;
			flex-direction: row;
			margin-bottom: 0px;
			gap: 10px;
			width: auto;
		}

		h2 {
			margin-bottom: 0px;
			width: auto;
		}
	}
}