* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  margin: 0px;
  animation: scroll 2.5s;
}

@keyframes scroll {

  0%,
  100% {
    overflow: hidden;
  }

}

.loader {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f6f6f6;
  z-index: -1;
  opacity: 0;
  animation: loader 3s;
}

@keyframes loader {

  0%,
  100% {
    z-index: 1;
    opacity: 1;
  }
}

.anim-loader {
  margin: 50% auto;
  width: 200px;
  height: 200px;
  border-top: 25px solid #9356dc;
  border-right: 25px ridge #99e2d0;
  border-bottom: 25px solid #9356dc;
  border-left: 25px ridge #99e2d0;
  border-radius: 50%;
  animation: rotation 0.9s linear 3;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 13px 0px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 2px;
}

header p {
  margin: 0px;
  padding: 17px 0px;
  text-align: center;
  background-color: #eaeaea;
  color: #353535;
}

.fa-location-dot {
  padding-right: 17px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.button h2 {
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
}

.button p {
  width: 90%;
  text-align: center;
  margin-top: 0px;
  color: #353535;
  font-weight: 300;
}

.button button {
  width: 60%;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: opacity 400ms, box-shadow 400ms;
}

button:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
}

.button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.fonctionnement {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px 50px 0px;
}

.fonctionnement li {
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  padding: 25px 20px;
}

.fonctionnement i {
  padding-right: 20px;
}

.fonctionnement h2 {
  width: 90%;
  padding-left: 15px;
}

ol {
  width: 90%;
  padding-left: 30px;
  list-style: none;
}

.fa-solid {
  color: #7e7e7e;
}

.fa-store {
  color: #9356dc;
}

li span {
  position: relative;
  right: 35px;
  background-color: #9356dc;
  border-radius: 24px;
  text-align: center;
  color: white;
  padding: 5px 10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0px;
}

.restaurants h2 {
  width: 90%;
}

.restaurants-cards {
  width: 90%;
}

.card {
  height: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card a {
  color: black;
  text-decoration: none;
}

.img {
  background-image: url(Images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  height: 187.5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img p {
  margin-right: 10px;
  border: 1px solid;
  height: min-content;
  background-color: #99e2d0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 6px 9px;
}

.imgtwo {
  background-image: url(Images/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
  height: 187.5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.imgtwo p {
  margin-right: 10px;
  border: 1px solid;
  height: min-content;
  background-color: #99e2d0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 6px 9px;
}

.imgthree {
  background-image: url(Images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
  height: 187.5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.imgfour {
  background-image: url(Images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
  height: 187.5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.content {
  display: flex;
}

.txt {
  width: 80%;
}

.txt h3 {
  font-size: 18px;
  margin: 5px;
  max-height: 35px;
}

.txt p {
  font-weight: 300;
  margin: 5px;
}

.heart {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-heart {
  font-size: 22px;
  color: black;
  transition: color 0.3s;
}

.heart .fa-solid {
  position: absolute;
  font-size: 22px;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.heart .fa-regular {
  font-size: 22px;
  color: #353535;
}

.heart input {
  display: none;
}

.heart input:checked+.fa-solid {
  opacity: 1;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

footer h2 {
  font-family: "Shrikhand";
  color: white;
  width: 90%;
}

footer ul {
  list-style: none;
  padding-left: 0px;
  color: white;
  width: 90%;
}

footer .fa-solid {
  color: white;
}

footer li {
  padding-bottom: 5px;
}

footer li a {
  text-decoration: none;
  color: white;
}

.fa-utensils {
  padding-right: 12px;
}

.fa-handshake-angle {
  padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .anim-loader {
    width: 300px;
    height: 300px;
    margin: 30% auto;
  }

  .button h2 {
    width: 100%;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .button p {
    width: 100%;
    margin-bottom: 30px;
  }

  .button button {
    width: 218px;
  }

  .fonctionnement {
    padding: 50px 0px;
  }

  .fonctionnement h2 {
    text-align: center;
  }

  ol {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
  }

  .fonctionnement li {
    width: 480px;
    padding: 25px 40px;
  }

  .restaurants h2 {
    text-align: center;
  }

  .restaurants-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .card {
    width: 490px;
    margin-bottom: 0px;
  }

  .img {
    background-size: 600px;
    background-position-y: -150px;
    background-position-x: -50px;
  }

  .imgtwo {
    background-size: 550px;
    background-position-y: -300px;
    background-position-x: -50px;
  }

  .imgthree {
    background-size: 550px;
    background-position-y: -150px;
  }

  .imgfour {
    background-size: 550px;
    background-position-y: -150px;
  }

  footer {
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 50px;
    padding-bottom: 15px;
    padding-top: 35px;
  }

  footer ul {
    flex-direction: row;
    margin-bottom: 0px;
    gap: 10px;
    width: 550px;
  }

  footer li {
    padding: 0px 20px;
    text-align: right;
  }

  footer h2 {
    margin-bottom: 0px;
    width: auto;
  }

}

@media (min-width: 1024px) {

  .anim-loader {
    width: 300px;
    height: 300px;
    margin: 15% auto;
  }

  .button h2 {
    width: 100%;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .button p {
    width: 100%;
    margin-bottom: 30px;
  }

  .button button {
    width: 218px;
  }

  .fonctionnement {
    padding: 50px 0px 50px 0px;
  }

  .fonctionnement h2 {
    width: 80%;
    padding-left: 0px;
  }

  ol {
    padding: 0px;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  .fonctionnement li {
    width: 100%;
  }

  .restaurants h2 {
    width: 80%;
  }

  .restaurants-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 10%;
    width: 80%;
    justify-content: flex-start;
  }

  .card {
    width: 45%;
    padding-bottom: 15px;
  }

  .img {
    background-size: 120% 400px;
    background-position: center;
  }

  .imgtwo {
    background-size: 120% 400px;
    background-position: center -130px;
  }

  .imgthree {
    background-size: 120% 400px;
    background-position: center -160px;
  }

  .imgfour {
    background-size: 120% 300px;
    background-position: center -100px;
  }

  .content {
    padding: 10px;
  }

  footer {
    flex-direction: row-reverse;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 30px 25px;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    gap: 10px;
    width: auto;
  }

  footer h2 {
    margin-bottom: 0px;
    width: auto;
  }

}